/* gloabl */
body {
  background-color: black;
}

a:hover {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
  color: #000;
  margin-left: 9px;
}

.colorwhite {
  color: #fff;
}

.CodeMirror {
  height: 420px;
}

/* header */
.logo {
  width: 80%;
  margin-top: -5px;
}

.nav > li > a {
  padding: 15px 15px;
}

/* home */

.home {
  background-image: url('/images/bg-index.jpg');
  height: 100vh;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg {
  background-image: url('/images/bg-index.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.home > h1,
.home > h3 {
  color: #fff;
  margin: 0;
}


.home > button {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: transparent;
  padding: 10px 30px;
  border: 1px solid #fff;
  margin-top: 5px;
  transition: all .3s ease-out;
  letter-spacing: 1.5px;
}

.home > button:hover {
  background-color: #fff;
}

.home > h1 {
  font-size: 70px;
}

/* penmain */

.penmain {
  padding: 20px;
}

.penviewer {
  background-color: #F6F6F6;
  height: 420px;
  overflow: auto;
  padding: 20px;
}

.save {
  margin-top: 10px;
}


/* accounts */

#login-buttons {
  text-decoration: none;
  margin: 18px;
  font-size: 14px;
  margin-right: 200px;
}

#login-buttons:hover {
  text-decoration: none;
}

/* penshare */

.pens-share {
  position: absolute;
  top: 40%;
  left: -220px;
  width: 220px;
  background: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  z-index: 9999999;
  transition: all .2s ease-in;
}

.showModal {
  left: 0;
}

.pens-share::after {
  content: '\f064';
  font-family: FontAwesome;
  padding: 5px;
  position: absolute;
  top: 0;
  right: -25px;
  width: 25px;
  height: 30px;
  background: rgba(0,0,0,.7);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;

}


.pens-share ul {
  opacity: 1;
}
